/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 10px;
    height: 100%;
    font-family: "Open Sans", "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

body {
    height: 100%;
    background: #F5F5F5;
}

a {
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    color: #3BAAFF;
}

a:hover {
    color: #57B6FF
}

* {
    box-sizing: border-box;
}

.side-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.main-content {
    padding: 7rem 0 2rem 32rem;
}

.blog-name a {
    display: inline-block;
    color: #FFFFFF;
    padding: 1rem;
    font-size: 2.5rem;
    background: #8BCCFF;
}

.blog-desc {
    font-size: 1.3rem;
    color: #939393;
    margin-top: 2rem;
}

.blog-about, .blog-nav {
    padding: 3rem;
    width: 32rem;
    line-height: 1.4;
}

.blog-nav {
    position: fixed;
    bottom: 0;
    left: 0;
}

.blog-nav a {
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 0.5rem 0;
    background: #FFFFFF;
}

.blog-nav a:hover {
    color: #FFFFFF;
    background: #3BAAFF;
}

.post {
    width: 68rem;
    margin: 1rem auto 3rem;
    padding: 7rem 5rem 3rem;
    box-shadow: 0 1px 3px rgba(200,200,200,0.1);
    background: #FFFFFF;
}

.post-title a {
    font-size: 3.4rem;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.post-excerpt {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    color: #808080;
    line-height: 1.7;
}

.post-info {
    margin-bottom: 2rem;
    padding: 1rem;
    background: #FCFCFC;
}

.post-author {
    display: inline-block;
}

.author-avatar {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    border-radius: 100%;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.author-name, .post-date, .post-category {
    font-size: 1.4rem;
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #CCCCCC;
    color: #888888;
}

.post-tags a {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0 1rem 1rem 0;
    color: #FFFFFF;
    font-size: 1.4rem;
    border-radius: 0.3rem;
    background: #8BCCFF;
}

.pagination {
    text-align: center;
    padding: 10px;
}

.pagination a, .pagination span {
    font-size: 1.4rem;
    padding: 1rem;
    margin: 1rem;
}

.pagination span {
    color: #888888;
}

.post-content {
    font-size: 1.4rem;
    color: #444444;
    line-height: 1.7;
}

code {
    display: inline-block;
    padding: 0 0.3rem;
    background: #EEEEEE;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    font-family: Menlo, Monaco, "Courier New", monospace;
}

.post-content pre {
    margin: 1rem 0;
}

.post-content blockquote {
    padding-left: 1rem;
    font-style: italic;
    border-left: 0.5rem solid #ECECEC;
    margin-bottom: 1rem;
}

.post-content p {
    margin-bottom: 0.5rem;
}

.post-content hr {
    margin: 5rem 0;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    padding: 0;
}

.post-content h1 {
    font-size: 3.8rem;
    margin-bottom: 1rem;
}

.post-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.post-content h3 {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

.post-content h4 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4 {
    font-weight: 800;
    text-rendering: optimizeLegibility;
}

.post-content ul {
    list-style-type: disc;
}

.post-content ul, .post-content ol {
    margin: 1rem 0 2rem 2rem;
}

.post-content ol {
    list-style-type: decimal;
}

.post-content li {
    margin-bottom: 0.5rem;
}

.post-content table {
    width: 100%;
    margin: 2rem 0;
    border: 1px solid #EEEEEE;
}

.post-content th {
    font-weight: 800;
    background: #EEEEEE;
}

.post-content td, .post-content th {
    padding: 0.5rem 1rem;
}

.post-content tr:nth-child(odd) {
    background: #FCFCFC;
}

.post-content a {
    color: #777777;
    border-bottom: 1px solid #CECECE;
}

.post-content a:hover {
    color: #555555;
    border-bottom: 1px solid #CCCCCC;
}

.post-content img {
    display: block;
    margin: 1rem auto;
    max-width: 58rem;
}
